@model EmployeeManagement.Employee

@{
    ViewBag.Title = "RemoveEmployee";
}

<h2>Remove Employee</h2>

<h3>Are you sure you want to remove this employee from this team?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt class="hidden">
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd class="hidden">
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt class="hidden">
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>

        <dd class="hidden">
            @Html.DisplayFor(model => model.phone_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt class="hidden">
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd class="hidden">
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt class="hidden">
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd class="hidden">
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROLE.role_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROLE.role_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
