@model IEnumerable<EmployeeManagement.Models.AddMembersModels>

<p>
    @Html.ActionLink("Add New Member", "AddTeamMembers", new { id = @ViewBag.Teamid })
</p>
<table class="table">
    <tr>
        <th class="hidden">
            @Html.DisplayNameFor(model => model.emp_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="hidden">
            @Html.DisplayFor(modelItem => item.emp_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.role_name)
        </td>
        <td>
            @Html.ActionLink("Remove Employee", "RemoveEmployee", new {  id=item.emp_ID }) @*|
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
